body {
  background-color: #f45;
  margin: 0;
  text-align: center;
  height: 100vh;
}
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  border-radius: 7px;
}
.body-wrap {
  padding-top: 48vh;
}
.modal-wrap {
  display: block;
  position: fixed;
  z-index: 12;                /*  > than the body overlay's z-index */
  background-color: SkyBlue;
  width: 50vw;
  height: 55vh;
  padding: 15px;
  top: calc(35% / 2);
  left: calc(50% / 2);
  border-radius: 5px;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
}